<% more_link = nil unless respond_to?(:more_link) %>
<h4 class="data-widget-title <%= ( @opts[:can_select_course] || more_link ) ? 'left' : '' %>"><%= title header_title %></h4>
<% if @opts[:more_link] && widget.cell_name != 'activity' && !widget.new_record? %>
  <div class="right courses-selector">
    <%= link_to t('#cells.configure', 'configure>'), 'javascript:void(0)', "data-ids" => (@ids || []).join(','), :class => 'config_courses', 'data-url' => widget_path(widget) %>
  </div>
<% elsif more_link %>
  <div class="right courses-selector">
    <div class="link_more" style="text-align: right;">
      <%= link_to t('#cells.assignment.more', 'More>>'), more_link %>
    </div>
  </div>
<% end %>
