<div <%= data_widget %> >
  <div class="x box">
    <%= render :partial => "shared/box_header", :locals => { :header_title => t('#cells.discussion.title', 'Discussion') } %>
    <div class="box-body">
      <%= render :partial => "shared/contexts", :locals => { :objects => @discussions } %>
    </div>
  </div>
</div>
