<p>当一个观察者绑定了一名学生，他们可以访问到该学生的成绩和在课程里的交互信息。</p>

<p>以下列表中选择学生名字，使课程的观察者 <b>{{name}}</b> 可以绑定该学生。</p>

<input id="student_input" name="students" data-finder_url="{{studentsUrl}}" type="text" style="display:none;">
