      <div id="carousel" class="carousel slide">
        <div class="carousel-inner">
          <% @imgs.each_with_index do |img, index| %>
            <div class="item <%= index == 0 ? 'active' : '' %>"><%= raw img %></div>
          <% end %>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left"  href="#carousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
      </div><!-- id="carousel" class="carousel slide" -->
