body.dashboard #main{min-width: 1000px;}

#jiaoxuebang{
  min-height: 600px;
}
#jiaoxuebang [data-bg-varied=true]{
  background: url(../img/bg.jpg) no-repeat 0 -80px;
}
#jiaoxuebang #head{
  margin-bottom: 20px;
  overflow: hidden;
}
#jiaoxuebang #head #theme_main{
  width: 1000px;
  margin: 0 auto;
  color: #ffffff;
}
#jiaoxuebang #head #theme_main .left_part{
  float:left;
  width:684px;
}
#jiaoxuebang #head #theme_main #logo{
  width:122px;
  height:44px;
  margin-top:50px;
  margin-right:7px;
}
#jiaoxuebang #head #theme_main #nav{
  height:50px;
  line-height:50px;
  margin-top:100px;
  background: #0669cd;
  padding: 0 10px;
}
#jiaoxuebang #head #theme_main #nav .data-widget-title{
  font-size: 1em;
}
#jiaoxuebang #head #theme_main #nav a{
  color: green;
  margin-right: 20px;
}
#jiaoxuebang #head #theme_main #nav > div{
  float:left;
}
#jiaoxuebang #head #theme_main #phone{
  text-align: center;
  height: 45px;
  line-height: 45px;
  font-size: 30px;
  margin-right: 10px;
}
#jiaoxuebang #head #theme_main .right_part{
  float:right;
}
#jiaoxuebang #head #theme_main .chagne_bg{
  margin-top: 30px;
}
#jiaoxuebang .link_more a{
  color:#0099ff;
}
#dashboard .no_bg_image{
  background: 0 none;
  padding-top: 0;
  min-height: 0;
}
#jiaoxuebang .left_position_holder{
  float: left;
  width: 684px;
}
#jiaoxuebang .right_position_holder{
  float: right;
  width: 250px;
}
#jiaoxuebang .clear{
  clear: both;
}
#jiaoxuebang #dashboard{
  width: 1000px;
  margin: 0 auto;
}
#jiaoxuebang .box{
  border: 1px #dbdbdb solid;
  /*width: 684px;*/
  min-height: 100px;
  margin-bottom: 12px;
}
#jiaoxuebang .mini_box{
  width: 684px;
}
#jiaoxuebang .box .box_head{
  background: url(../img/box_head_bg.jpg) no-repeat;
  height: 33px;
  padding: 0 13px;
}
#jiaoxuebang .box .box_head .left{
  float: left;
}
#jiaoxuebang .box .box_head .right{
  float: right;
}
#jiaoxuebang .box .box_head .courses-selector a{
  color: #FFFFFF;
  line-height: 33px;
  height: 33px;
}
#jiaoxuebang .box .box_head h4{
  margin: 0;
  color: #FFFFFF;
  line-height: 33px;
  height: 33px;
}
#jiaoxuebang .box .box_body{
  padding: 18px 15px;
  background: #fff;
}
#jiaoxuebang .box .box_body .data-widget-body{
  overflow: hidden;
}
#jiaoxuebang .data-widget-body p{
  margin:0;
}
#jiaoxuebang .box .box_body ul.account_announcement{
  list-style-type: none;
  margin:0;padding:0;
  color: #999999;
}
#jiaoxuebang .box .box_body ul.account_announcement li{
  background: url(../img/li_bg.jpg) no-repeat 0 6px;
  padding-left:15px;
}
#jiaoxuebang .box .box_body ul.account_announcement li .inner{
  margin-bottom: 5px;
}
#jiaoxuebang .box .box_body ul.account_announcement li span{
  float:right;
}
#jiaoxuebang .box .box_body_padding_1{
  padding: 0px 1px;
}
#jiaoxuebang .jxbTable{
  border: 1px solid #6699cc;
  border-collapse:collapse;
}
#jiaoxuebang .jxbTable th, #jiaoxuebang .jxbTable td{
  border: 1px solid #6699cc;
  text-align: center;
}
#jiaoxuebang .jxbTable thead td{
  color: #0066cc;
  font-weight: bold;
  padding: 0;
  line-height: 33px;
}
#jiaoxuebang .jxbTable thead tr{
  background: url(../img/table_bg.jpg) repeat top left;
  height: 33px;
}
#jiaoxuebang .jxbTable tbody td{
  color: #999999;
}
#jiaoxuebang .jxbTable tbody td a{
  color: #999999;
}
#jiaoxuebang .box .box_body .contextIndexList .context-column{
  border-bottom: 1px #cccccc dashed;
  padding-bottom: 16px;
  margin-bottom: 16px;
  height: 80px;
}
#jiaoxuebang .box .box_body .contextIndexList .context-column.last{
  border-bottom: 0 none;
  margin-bottom: 0;
}
#jiaoxuebang .box .box_body .contextIndexList .context-column .image-block-image{
  float: left;
  color: #999999;
  margin-right: 22px;
}
#jiaoxuebang .box .box_body .contextIndexList .context-column .image-block-image .image-avatar{
  padding: 1px;
  border: 1px solid #CCCCCC;
}
#jiaoxuebang .box .box_body .contextIndexList .context-column .context-title a{
  color: #0099ff;
}
#jiaoxuebang .box .box_body .contextIndexList .context-column .context-last-reply{
  float: right;
  color: #0099ff;
  font-size: 12px;
}
#jiaoxuebang .box .box_body .contextIndexList .context-column .context-summary{
  color: #999999;
  margin-top: 5px;
}
#jiaoxuebang .box .box_body .contextIndexList .context-column .user-short-name a{
  color: #999999;
  font-size: 12px;
}
#jiaoxuebang .box .box_body ul.widget_course{
  list-style-type: none;
  margin: 0;padding: 0;
}
#jiaoxuebang .box .box_body ul.widget_course li{
  width: 205px;
  height:224px;
  float:left;
  margin-right: 15px;
  margin-bottom: 15px;
}
#jiaoxuebang .box .box_body ul.widget_course li.last{
  margin-right: 0px;
}
#jiaoxuebang .box .box_body ul.widget_course li .w_head{
  height: 102px;
  border: 1px solid #ebecee;
  border-bottom: 0 none;
  background:url(../img/c_head_bg.jpg) no-repeat transparent;
  position: relative;
}
#jiaoxuebang .box .box_body ul.widget_course li .w_head .bottom_block{
  height: 10px;
  border-left: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
  position: absolute;
  bottom: 0px;
  width: 201px;
}
#jiaoxuebang .box .box_body ul.widget_course li .w_head .imnew{
  background:url(../img/c_new.png) no-repeat transparent;
  position: absolute;
  display: block;
  width: 59px;
  height: 48px;
  right: 0;
}
#jiaoxuebang .box .box_body ul.widget_course li .w_head h3{
  color:#fff;
  text-align: center;
  font-size:18px;
  margin-top:30px;
}
#jiaoxuebang .box .box_body ul.widget_course li .w_head h3 a{
  color:#fff;
}
#jiaoxuebang .box .box_body ul.widget_course li .w_body{
  padding: 0 1px;
}
#jiaoxuebang .box .box_body ul.widget_course li .w_body .w_teacher{
  border: 1px solid #c6c6c6;
  border-top: 0 none;
  height: 66px;
  padding:0 11px;
}
#jiaoxuebang .box .box_body ul.widget_course li .w_body .w_teacher .link_to_image_avatar{
  float:left;
  margin-right:8px;
}
#jiaoxuebang .box .box_body ul.widget_course li .w_body .w_teacher .teacher_name{
  float:left;margin:0;width:120px;word-wrap:break-word; overflow:hidden;color:#000000;
}
#jiaoxuebang .box .box_body ul.widget_course li .w_body .w_teacher .teacher_name a{
  color:#000000;
}
#jiaoxuebang .box .box_body ul.widget_course li .w_foot{
  padding: 0 1px;
}
#jiaoxuebang .box .box_body ul.widget_course li .w_foot .w_btn{
  height: 55px;
  border: 1px solid #c6c6c6;
  border-top: 0 none;
  background:url(../img/c_foot_bg.jpg) no-repeat top left #eeeeee;
}
#jiaoxuebang .box .box_body ul.widget_course li .w_foot .w_btn .like_btn{
  background:url(../img/c_btn.jpg) no-repeat top left #57a5ee;
  color: #fff;
  position: relative;
  top: 12px;
  left: 35px;
  display: block;
  width: 134px;
  height: 34px;
  text-align: center;
  line-height: 34px;
}


/*caption*/

#jiaoxuebang #caption{
  margin-top:50px;
  margin-right:10px;
}
#config_courses_holder {
  position: absolute;
  width: 262px;
  min-height: 300px;
  max-height: 400px;
  padding: 10px;
  display: none;
  right: -284px;
  background: url(../img/xbg.jpg) #d6f0fd repeat-x top left;
  border: 1px solid #A9CCE2;
  z-index: 100;
  overflow: scroll;
}
#config_courses_holder .x_narrow{
  background: url(../img/x_narrow.png) transparent no-repeat top left;
  left: -22px;
  position: absolute;
  top: 4px;
  width: 12px;
  height: 11px;
}
#config_courses_holder ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#config_courses_holder ul ul{
  margin-left: 20px;
}

/* jcarousel */

.jcarousel-skin-ie7{
  background-color: #e8ebed;
}

.jcarousel-skin-ie7 .jcarousel-container {
}

.jcarousel-skin-ie7 .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-ie7 .jcarousel-container-horizontal {
    width: 592px;
    padding: 10px 45px;
}

.jcarousel-skin-ie7 .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-ie7 .jcarousel-clip-horizontal {
    width:  592px;
    height: 220px;
}

.jcarousel-skin-ie7 .jcarousel-item {
    width: 288px;
    border: 1px solid #cecece;
    padding: 3px;
}
.jcarousel-skin-ie7 .jcarousel-item:hover,
.jcarousel-skin-ie7 .jcarousel-item:focus {
}

.jcarousel-skin-ie7 .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 2px;
}

.jcarousel-skin-ie7 .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 7px;
	margin-right: 0;
}

.jcarousel-skin-ie7 .jcarousel-item-vertical {
    margin-bottom: 7px;
}

.jcarousel-skin-ie7 .jcarousel-item-placeholder {
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-ie7 .jcarousel-next-horizontal {
    position: absolute;
    top: 35%;
    right: 5px;
    width: 34px;
    height: 34px;
    cursor: pointer;
    background: transparent url(../img/right_narrow.png) no-repeat 0 0;
}

.jcarousel-skin-ie7 .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(../img/prev-horizontal.gif);
}

.jcarousel-skin-ie7 .jcarousel-next-horizontal:hover,
.jcarousel-skin-ie7 .jcarousel-next-horizontal:focus {
    /*background-position: -32px 0;*/
}

.jcarousel-skin-ie7 .jcarousel-next-horizontal:active {
    /*background-position: -64px 0;*/
}

.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal,
.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    /*background-position: -96px 0;*/
    opacity : 0.4;
    filter: alpha(opacity=40);
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal {
    position: absolute;
    top: 35%;
    left: 5px;
    width: 34px;
    height: 34px;
    cursor: pointer;
    background: transparent url(../img/left_narrow.png) no-repeat 0 0;
}

.jcarousel-skin-ie7 .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../img/next-horizontal.gif);
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal:hover,
.jcarousel-skin-ie7 .jcarousel-prev-horizontal:focus {
    /*background-position: -32px 0;*/
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal:active {
    /*background-position: -64px 0;*/
}

.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    /*background-position: -96px 0;*/
    opacity : 0.4;
    filter: alpha(opacity=40); /* msie */
}

/*dataTable*/
.dataTables_filter {
   width: 50%;
   float: right;
   text-align: right;
   margin-bottom: 22px;
   color:#999999;
}
.dataTables_paginate{
   text-align: right;
}
.dataTables_paginate .paginate_disabled_previous{
  padding-right: 18px;
  color: #0099ff;
  border-right:1px solid #0099ff;
}
.dataTables_paginate .paginate_disabled_next{
  color: #0099ff;
  margin-left: 18px;
}
#jiaoxuebang .sorting{
  background: url('../img/sort_both.png') no-repeat center right;
}
#jiaoxuebang .sorting_asc {
  background: url('../img/sort_asc.png') no-repeat center right;
}
#jiaoxuebang .sorting_desc {
  background: url('../img/sort_desc.png') no-repeat center right;
}
/*User dashboard*/
#jiaoxuebang .im_activity_widget{
  float:left;
}
#jiaoxuebang .im_account_announcements_widget{
  float:right;
  width:28%;
}
#jiaoxuebang .im_account_announcements_widget .box .box_body{
  height: 203px;
}
#jiaoxuebang .max_box .box_head{
  background: url(../img/max_box_head_bg.jpg) no-repeat;
}
#jiaoxuebang .box .box_head .courses-selector a.config_courses{
  background: url(/images/cog-with-droparrow-active.png) no-repeat;
  display: block;text-indent: -99999px;height: 16px;width: 16px;margin-top: 9px;
}
/*show widget*/
.show_widget h1{
  text-align: center;
  color:#666;
}
.show_widget .info{
  text-align: center;
  color:#999;
  font-size:12px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}
.show_widget iframe{
  width: 100%;
  height: 900px;
}
.show_widget .info .context_widget{
  margin-right:30px;
}