<%
  js_bundle :registration
  jammit_css :registration
  js_env :USER => {
    :LOGIN_HANDLE_NAME => (@domain_root_account.login_handle_name rescue AccountAuthorizationConfig.default_login_handle_name)
  }
  content_for :page_title, t('create_a_canvas_account', "Create a Jiaoxuebang Account")
  content_for :head, include_stylesheets(:common, :media => "all")
%>
<% content_for :head do %>
  <%= include_stylesheets :common, :media => "all" %>
<% end %>
<style>
  @media only screen and (max-device-width : 1024px)  {
    .container {
      width: 500px!important;
      border: 1px solid #ccc;
    }
  }
</style>
<div class="content">
  <%= render :partial => 'shared/menu_navbar' %>
  <div class="register">
    <div class="container">
      <ul class="nav nav-tabs">
        <li><a href="#">没有课程代码</a></li>
        <li><a href="#">我有课程代码</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane"></div>
        <div class="tab-pane"></div>
      </div>
    </div>
  </div>
</div>


<!--<a href="#" id="dd" class="signup_link" data-template="haveACode" title="Parent Signup">Parents sign up here</a>
<a href="#" id="dddd" class="signup_link" data-template="haveCodeNot" title="Parent Signup">Parents sign up here</a>-->

