
  <%
     jammit_css :welcome
     #js_bundle  :welcome
  %>
  <style>
    @media only screen and (max-device-width : 1024px)  {
      .container {
        width: 500px!important;
        border: 1px solid #ccc;
      }
    }
  </style>
  <div class="logo-row">
    <div class="inner">
      <a id="header-logo" href="<%= root_url %>"><%= t 'links.dashboard', "My Dashboard" %></a>
      <form class="form-search">
        <div class="input-append">
          <input type="text" placeholder="请输入关键词" class="span2 search-query">
          <button class="btn" type="submit"><i></i></button>
        </div>
      </form>
    </div>
  </div>
<div class="content">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav nav-tabs">
          <li><a href="#">首页</a></li>
          <li><a href="#">中小学</a></li>
          <li><a href="#">英语</a></li>
          <li><a href="#">教辅</a></li>
          <li><a href="#">企业大学</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="big-eye">
    <div class="big-eye-inner">
      <!--<div class="login">
        <div class="inner">
          <form>
            <fieldset>
              <input type="text" placeholder="邮箱/账号" />
              <input type="text" placeholder="请输入密码" />
              <span class="help-block pull-right"><a href="#">忘记密码</a></span>
              <button type="button" class="btn"><img src="/images/jxb/btn-login.png"></button>
              <span class="help-block">还没有帐号，立即注册</span>
              <button type="button" class="btn"><img src="/images/jxb/btn-register.png"></button>
            </fieldset>
          </form>

        </div>
      </div>-->
    </div>
  </div>
  <div class="courses">
    <a href="#"></a>
    <a href="#"></a>
  </div>
</div>

<footer>
  <div class="container">
    <ul>
      <li><a href="#">首页</a>|</li>
      <li><a href="#">关于我们</a>|</li>
      <li><a href="#">课程分类</a>|</li>
      <li><a href="#">课程资源</a>|</li>
      <li><a href="#">会员专区</a>|</li>
      <li><a href="#">联系方式</a>|</li>
      <li><a href="#">服务保障</a></li>
    </ul>
    <div class="pull-right">
      版权所有 © 2003-2011 教学邦保留所有权利<br>
      关注教学邦：
      <a href="#"><img src="/images/jxb/weibo-qq.png"></a>
      <a href="#"><img src="/images/jxb/weibo-sina.png"></a>
    </div>
  </div>
</footer>


