
  <%
     jammit_css :welcome
     #js_bundle  :welcome
  %>
  <style>
    @media only screen and (max-device-width : 1024px)  {
      .container {
        width: 500px!important;
        border: 1px solid #ccc;
      }
    }
  </style>
<div class="content">
  <%= render :partial => 'shared/menu_navbar' %>
  <div class="big-eye">
    <div class="big-eye-inner">
      <ul>
        <li><a href="#">我要开课</a></li>
        <li><a href="#">我要建校</a></li>
      </ul>
    </div>
  </div>
  <div class="intro">
    <div class="container">
      <ul>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
  </div>
  <div class="courses">
    <!-- <%= link_to "", new_account_path %>
    <a href="/register"></a> -->
    <div class="inner">

      <ul>
        <li>
          <h3>同步辅导小学英语课程</h3>
          <h4>
            <span>英语</span>|<span>一年级上</span>|<span>泸教版</span>
          </h4>
          <a href="#"></a>
          <button>免费学习</button>
        </li>
        <li>
          <h3>同步辅导小学英语课程</h3>
          <h4>
            <span>英语</span>|<span>一年级下</span>|<span>泸教版</span>
          </h4>
          <a href="#"></a>
          <button>免费学习</button>
        </li>
        <li>
          <h3>同步辅导小学英语课程</h3>
          <h4>
            <span>数学</span>|<span>一年级上</span>|<span>泸教版</span>
          </h4>
          <a href="#"></a>
          <button>免费学习</button>
        </li>
        <li>
          <h3>同步辅导小学英语课程</h3>
          <h4>
            <span>数学</span>|<span>一年级下</span>|<span>泸教版</span>
          </h4>
          <a href="#"></a>
          <button>免费学习</button>
        </li>
      </ul>  
      <ul>
        <li>
          <h3>同步辅导小学英语课程</h3>
          <h4>
            <span>英语</span>|<span>二年级上</span>|<span>泸教版</span>
          </h4>
          <a href="#"></a>
          <button>免费学习</button>
        </li>
        <li>
          <h3>同步辅导小学英语课程</h3>
          <h4>
            <span>英语</span>|<span>二年级下<</span>|<span>泸教版</span>
          </h4>
          <a href="#"></a>
          <button>免费学习</button>
        </li>
        <li>
          <h3>同步辅导小学英语课程</h3>
          <h4>
            <span>数学</span>|<span>二年级上</span>|<span>泸教版</span>
          </h4>
          <a href="#"></a>
          <button>免费学习</button>
        </li>
        <li>
          <h3>同步辅导小学英语课程</h3>
          <h4>
            <span>数学</span>|<span>二年级下</span>|<span>泸教版</span>
          </h4>
          <a href="#"></a>
          <button>免费学习</button>
        </li>
      </ul> 
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <ul>
      <li><a href="/">首页</a>|</li>
      <li><a href="#">关于我们</a>|</li>
      <li><a href="#">课程分类</a>|</li>
      <li><a href="#">课程资源</a>|</li>
      <li><a href="#">会员专区</a>|</li>
      <li><a href="#">联系方式</a>|</li>
      <li><a href="#">服务保障</a></li>
    </ul>
    <div class="pull-right">
      版权所有 © 2003-2011 教学邦保留所有权利<br>
      关注教学邦：
      <a href="#"><img src="/images/jxb/weibo-qq.png"></a>
      <a href="#"><img src="/images/jxb/weibo-sina.png"></a>
    </div>
  </div>
</footer>


