  <%
     jammit_css :welcome
     #js_bundle  :welcome
  %>
  <style>
    @media only screen and (max-device-width : 1024px)  {
      .container {

      }
    }
    #flash_message_buffer, #flash_message_holder{display:none;}
  </style>
  <!--[if lte IE 8 ]>
    <style>
      #menu .menu-item .menu-item-title, #menu .menu-item .menu-item-no-drop {padding-top: 1px; position: relative; top: -1px;}
      .logo-row .inner .form-search .input-append .btn {position: relative;left: -3px;}
      .logo-row .inner .form-search .input-append .btn i{display: none;}
      .logo-row .inner .form-search .input-append .btn span{display: block;}
    </style>
  <![endif]-->
<div class="content">
    <%= render :partial => "shared/menu_navbar" %>
  <div class="big-eye">
    <div class="big-eye-inner">
      <ul>
          <li><a href="/dashboard"><%= t('acts.create_course', 'Create Course') %></a></li>
        <li>
        <%= link_to t('acts.create_account', 'Create Account'), new_account_path %>
        </li>
      </ul>
    </div>
  </div>
  <div class="intro">
    <div class="container">
      <ul>
        <li><a href="/aboutus"></a></li>
        <%#<li><a href="/businessmodel"></a></li>%>
        <li><a href="#"></a></li>
        <li><a href="/advantagesofthesystem"></a></li>
        <li><a href="/functionaladvantages"></a></li>
      </ul>
    </div>
  </div>
  <div class="courses">
    <div class="inner">

      <ul>
        <li class="cat-1">
          <h3>同步牛津小学英语</h3>
          <h4>
            <span>英语</span>|<span>一年级上</span>|<span>沪牛津</span>
          </h4>
          <a href="http://edu10008.jiaoxuebang.com/courses/37/self_enrollment/EFB4X4"></a>
          <button>免费学习</button>
        </li>
        <li class="cat-2">
          <h3>同步牛津小学英语</h3>
          <h4>
            <span>英语</span>|<span>一年级下</span>|<span>沪牛津</span>
          </h4>
          <a href="http://edu10008.jiaoxuebang.com/courses/38/self_enrollment/HL9W9F"></a>
          <button>免费学习</button>
        </li>
        <li class="cat-3">
          <h3>同步小学数学听算练习</h3>
          <h4>
            <span>数学</span>|<span>一年级上</span>|<span>沪教版</span>
          </h4>
          <a href="http://edu10008.jiaoxuebang.com/courses/30/self_enrollment/W4GAW8"></a>
          <button>免费学习</button>
        </li>
        <li class="cat-4">
          <h3>同步小学数学听算练习</h3>
          <h4>
            <span>数学</span>|<span>一年级下</span>|<span>沪教版</span>
          </h4>
          <a href="http://edu10008.jiaoxuebang.com/courses/31/self_enrollment/XCENX3"></a>
          <button>免费学习</button>
        </li>
      </ul>  
      <ul>
        <li class="cat-5">
          <h3>同步牛津小学英语</h3>
          <h4>
            <span>英语</span>|<span>二年级上</span>|<span>沪牛津</span>
          </h4>
          <a href="http://edu10008.jiaoxuebang.com/courses/39/self_enrollment/RLW6RD"></a>
          <button>免费学习</button>
        </li>
        <li class="cat-6">
          <h3>同步牛津小学英语</h3>
          <h4>
            <span>英语</span>|<span>二年级下</span>|<span>沪牛津</span>
          </h4>
          <a href="http://edu10008.jiaoxuebang.com/courses/40/self_enrollment/P9398D"></a>
          <button>免费学习</button>
        </li>
        <li class="cat-7">
          <h3>同步小学数学听算练习</h3>
          <h4>
            <span>数学</span>|<span>二年级上</span>|<span>沪教版</span>
          </h4>
          <a href="http://edu10008.jiaoxuebang.com/courses/32/self_enrollment/LHY3FD"></a>
          <button>免费学习</button>
        </li>
        <li class="cat-8">
          <h3>同步小学数学听算练习</h3>
          <h4>
            <span>数学</span>|<span>二年级下</span>|<span>沪教版</span>
          </h4>
          <a href="http://edu10008.jiaoxuebang.com/courses/33/self_enrollment/RY8DKC"></a>
          <button>免费学习</button>
        </li>
      </ul>
      
    </div>
  </div>

  

</div>


