<div id="jiaoxuebang" class="no_bg_image">
<% @dashboard_page.widgets.each do |widget| %>
  <%= render_cell widget.cell_name, widget.cell_action, :widget  => widget, :theme => 'jiaoxuebang', :can_select_course => true %>
<% end %>
</div>
