<a href="<%= associated_accounts_path %>" class="menu-item-title" %>
  <%= t('links.associated_accounts', "Associated Accounts") %>
  <span class="menu-item-title-icon"></span> <i class="icon-mini-arrow-down"></i></a>
<div class="menu-item-drop">
  <table cellspacing="0">
    <tr>
      <%= render(:partial => "shared/menu_section", :locals => menu_switch_accounts_locals) %>
    </tr>
  </table>
</div>
