@import compass

@import 'jqueryui/variables'

.ui-sortable-placeholder
  border: 1px dotted black
  visibility: visible !important

.ui-sortable-placeholder *
  visibility: hidden

form.edit_jxb_page
  display: none

.deletable
  position: relative
  img.delete_widget
    position: absolute
    top: 0
    right: 0
    cursor: pointer
