.apple_pagination
	margin: 10px auto
#main
	max-width: 100%
	#content
		.left
			border: 1px solid #ccc
			border-radius: 5px
			background: #fefefe
			padding: 10px
			overflow: hidden
			.tree
				width: 200px
				overflow: scroll
				div
					white-space: nowrap
					.indent
						line-height: 20px
						height: 20px
				.blank_box
					display: inline-block
					width: 20px
					height: 20px
		.right
			float: none
			margin-left: 250px
			table
				tr
					td
						vertical-align: middle