<% content_for :page_title do %><%= t('page_title', 'Edit Learning Plan') %><% end %>
<%
  @active_tab = "learning_plans"
  add_crumb t(:learning_plans_crumb, "Learning Plans")
  js_bundle :learning_plans
  jammit_css :course_systems, :learning_plans
%>

<h2><%= t(:title, "Edit Learning Plan") %></h2>

<%= render 'plan_form' %>
