<div class="registration-dialog haveACode dddd">
  <form class="form-horizontal bootstrap-form" method="post" action="/users">
    <div class="control-group">
      <label class="control-label" for="student_join_code">{{#t "labels.join_code"}}Join Code{{/t}}
      </label>
      <div class="controls">
        <input type="text" id="student_join_code" name="user[self_enrollment_code]">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="student_name">{{#t "labels.name"}}Full Name{{/t}}</label>
      <div class="controls">
        <input type="text" id="student_name" name="user[name]">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="parent_email">{{#t "labels.email"}}Your Email{{/t}}</label>
      <div class="controls">
        <input type="text" id="parent_email" name="pseudonym[unique_id]">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" name="user[terms_of_use]" value="1">
          {{#t "agree_to_terms"}}You agree to the <a href="{{terms_url}}" target="_new">terms of use</a>.{{/t}}
        </label>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="hidden" name="user[initial_enrollment_type]" value="student">
        <input type="hidden" name="self_enrollment" value="1">
        <button class="button btn-primary" type="submit">{{#t "buttons.start_learning"}}Start Learning{{/t}}</button>
      </div>
    </div>
  </form>
</div>