<div class="registration-dialog">
  <form class="form-horizontal bootstrap-form" method="post" action="/users">
    <div class="control-group">
      <label class="control-label" for="student_higher_ed_name">{{#t "labels.name"}}Full Name{{/t}}</label>
      <div class="controls">
        <input type="text" id="student_higher_ed_name" name="user[name]">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="student_higher_ed_email">{{#t "labels.email"}}Email{{/t}}</label>
      <div class="controls">
        <input type="text" id="student_higher_ed_email" name="pseudonym[unique_id]">
      </div>
    </div>

    <div class="control-group simple_captcha">
    </div>

    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" name="user[terms_of_use]" value="1">
          {{#t "agree_to_terms_and_pp"}}You agree to the <a href="#" target="_blank">terms of use</a> and the <a href="/privacy" target="_blank">privacy policy</a>.{{/t}}
         </label>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="hidden" name="user[initial_enrollment_type]" value="student">
        <input id="back_url_id" type="hidden" name="back_url" value="">
        <button class="btn-blue" type="submit">{{#t "buttons.start_learning"}}Start Learning{{/t}}</button>
      </div>
    </div>
  </form>
</div>
