<div id="user-index" data-position="0" class="sortable">
  <%= widgets_at_position('0') or new_widget('user_index') %>
</div>
<div id="course-index" data-position="1" class="sortable">
  <%= widgets_at_position('1') or new_widget('course_index') %>
</div>
