<ul class="gradebook-header-menu">
  <li><a data-action="showAssignmentDetails" href="{{assignmentUrl}}">作业详细信息</a></li>
  <li><a href="{{speedGraderUrl}}">评分器</a></li>
  <li><a data-action="messageStudentsWho" href="#">发送消息到学生...</a></li>
  <li><a data-action="setDefaultGrade" href="#">设置默认评分</a></li>
  <li><a data-action="curveGrades" href="#">曲线评分</a></li>
  <li><a data-action="downloadSubmissions" href="#">下载提交文件</a></li>
  <li><a data-action="reuploadSubmissions" href="#">重新上传提交文件</a></li>
  <li><a data-action="toggleMuting" href="#"></a></li>
</ul>
