<form class="discussion-section hide-if-collapsed discussion-reply-form">
  <span class="notification" data-bind="notification"></span>
  <a class="discussion-reply-label hide-if-replying" data-event="addReply" href="#">
    <label for="reply_message_for_{{id}}">
      {{#if allowsSideComments}}
        跟帖...
      {{else}}
        写一个回复...
      {{/if}}
    </label>
  </a>
  <div class="show-if-replying">
    <textarea class="reply-textarea" id="reply_message_for_{{id}}"></textarea>

    <div class="clearfix">
      <div class="discussion-reply-buttons">
        <button class="button small-button" type="submit">回复</button>
        <a href="javascript:" class="cancel_button">取消</a>
      </div>

      <div class="discussion-reply-attachments-container">
        <ul class="discussion-reply-attachments"></ul>
        {{#if canAttach}}
          <a href="#" class="discussion-reply-add-attachment" data-event="addReplyAttachment">上传附件</a>
        {{/if}}
      </div>
    </div>
  </div>
</form>
