<div id="<%= @page.theme %>">
  <div id="dashboard">
    <div data-position="caption" class="sortable" id="caption"><%= widgets_at_position("caption") %></div>
    <div data-position="0" class="sortable left_position_holder"><%= widgets_at_position('0') %></div>
    <div data-position="right" class="sortable right_position_holder"><%= widgets_at_position('right') %></div>
    <div class="clear"></div>
  </div>
</div>
