<div <%= data_widget %> >
  <div class="x box">
	  <div class="box-header data-widget-title"><h4><%= title t('#cells.custom.title', 'Custom title') %></h4></div>
    <div class="data-widget-body box-body">
      <% if widget.body %>
        <%= widget.body.html_safe %>
      <% else %>
        <%= 'custom body' %>
      <% end %>
    </div>
  </div>
</div>
