
<div id="hidden-tpl" style="display:none;">
  <button class="remove-me"><%= t 'remove_me', 'Remove Me' %></button>
  <div><input name="case_tpl_widget[][title]" size="30" type="text" value="<%= t 'custom_title', 'Custom Title' %>"></div>
  <div><textarea  name="case_tpl_widget[][body]" class="main_text"></textarea></div>
  <input name="case_tpl_widget[][seq]" type="hidden">
</div>
<%
  js_env :context_id => params[:context_id]
%>

