
<div id="hidden-tpl" class="case-tpl" style="display:none;">
  <div class='control-group'>
    <input name="case_tpl_widget[][title]" type="text" value="<%= t 'custom_title', 'Custom Title' %>">
    <button class="remove-me btn btn-inverse right"><i class="icon-trash"></i> <%= t 'remove_me', 'Remove Me'%></button>
  </div>
  <div class='control-group'><textarea name="case_tpl_widget[][body]" class="main_text"></textarea></div>
  <input name="case_tpl_widget[][seq]" type="hidden">
</div>
<%
  js_env :context_id => params[:context_id]
%>

