
<% if case_tpl %>
  <div id="case-tpl-widget"> 
    <% case_tpl.case_tpl_widgets.each do |w| %>
      <% fields_for "case_tpl_widget[]", w do |widget| %>
        <div class='case-tpl'>
          <div class='control-group'>
            <%= widget.text_field :title, {:name => "case_tpl_widget[][title]", :value => w.title } %>
            <% if params[:context_type] == 'Account' %>
              <button class="remove-me btn btn-inverse right"><i class="icon-trash"></i> <%= t 'remove_me', 'Remove Me'%></button>
            <% end %>
          </div>
          <div class='control-group'><%= widget.text_area :body, {:name => "case_tpl_widget[][body]", :value => w.body } %></div>
          <div class='control-group'><%= widget.hidden_field :seq, {:name => "case_tpl_widget[][seq]", :value => w.seq } %></div>
        </div>
      <% end %>
    <% end %>
  </div>

<% end %>
