
<%
   jammit_css :welcome
%>
<div class="content grey-bg">
  <%= render :partial => 'shared/menu_navbar' %>
  <div class="info">
    <div class="container">
      <img src="/images/jxb/contact.jpg">
    </div>
  </div>
</div>
