
<%
   jammit_css :welcome
%>
<div class="content grey-bg">
  <%= render :partial => 'shared/menu_navbar' %>
  <div class="info">
    <div class="container">
      <div class="inner">
        <div>
          <img src="/images/jxb/functionaladvantages.jpg">
        </div>
      </div>
    </div>
  </div>
</div>