
<%
   jammit_css :welcome
%>
<div class="content grey-bg">
  <%= render :partial => 'shared/menu_navbar' %>
  <div class="info">
    <div class="container">
      <div class="inner">
        <div class="alert">
          本协议由您与教学邦平台的经营者共同缔结，本协议具有合同效力。<br/>
          教学邦平台经营者是指法律认可的经营该平台网站的责任主体，有关教学邦平台经营者的信息请查看各家教学邦平台首页底部公布的公司信息和证照信息。本协议中各家教学邦平台的经营者可单称或统称为“教学邦”。“教学邦平台”指由教学邦运营的网络平台，包括但不限于教学邦网，域名为jiaoxuebang.com，jiaoxuebang.net,jiaoxuebang.cn。
        </div>
        <div>
          <dl> 
             <dt>
              一、 协议内容及签署
             </dt> 
             <dd> 
              <p>1、本协议内容包括协议正文及所有教学邦已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。除另行明确声明外，任何教学邦及其关联公司提供的服务（以下称为教学邦平台服务）均受本协议约束。</p> 
              <p>2.您应当在使用教学邦平台服务之前认真阅读全部协议内容，对于协议中以加粗字体显示的内容，您应重点阅读。如您对协议有任何疑问的，应向教学邦咨询。但无论您事实上是否在使用教学邦平台服务之前认真阅读了本协议内容，只要您使用教学邦平台服务，则本协议即对您产生约束，届时您不应以未阅读本协议的内容或者未获得教学邦对您问询的解答等理由，主张本协议无效，或要求撤销本协议。 </p>
              <p>3.您承诺接受并遵守本协议的约定。如果您不同意本协议的约定，您应立即停止注册/激活程序或停止使用教学邦平台服务。</p> 
              <p>4.教学邦有权根据需要不时地制订、修改本协议及/或各类规则，并以网站公示的方式进行公告，不再单独给您通知。变更后的协议和规则一经在网站公布后，立即自动生效。如您不同意相关变更，应当立即停止使用教学邦平台服务。您继续使用教学邦平台服务的，即表示您接受经修订的协议和规则。</p> 
              <p></p> 
             </dd> 
             <dt>
              二、 注册与账户
             </dt> 
             <dd> 
              <p> 1.注册者资格<br /> 您确认，在您完成注册程序或以其他教学邦允许的方式实际使用教学邦平台服务时，您应当是具备完全民事权利能力和完全民事行为能力的自然人、法人或其他组织。若您不具备前述主体资格，则您及您的监护人应承担因此而导致的一切后果，且教学邦有权注销或永久冻结您的账户，并向您及您的监护人索偿。</p> 
              <p>2.注册和账户<br /> a）在您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，或在您按照激活页面提示填写信息、阅读并同意本协议且完成全部激活程序后，或您以其他教学邦允许的方式实际使用教学邦平台服务时，您即受本协议约束。您可以使用您提供或确认的邮箱或者教学邦允许的其它方式作为登录手段进入教学邦平台。<br /> b）您了解并同意，如您系在教学邦平台完成的注册程序，只要您注册成功，您即可以获得教学邦登录名。您在此明确授权，您的账户注册信息在您通过教学邦平台注册成功时，已授权教学邦披露给所有教学邦网站并同时授权教学邦网站使用，以使您更便捷地使用教学邦网站服务。<br /> c）您可以对账户设置教学邦昵称。您设置的教学邦昵称不得侵犯或涉嫌侵犯他人合法权益。如您设置的教学邦昵称涉嫌侵犯他人合法权益，教学邦有权终止向您提供教学邦平台服务，注销您的教学邦昵称。教学邦昵称被注销后将开放给任意用户注册。<br /> d）除非有法律规定或司法裁定，或者符合教学邦公布的条件，否则您的登录名、教学邦昵称和密码不得以任何方式转让、赠与或继承，并且转让、赠与或继承需提供教学邦要求的合格的文件材料并根据教学邦制定的操作流程办理。 </p> 
              <p>3、用户信息<br /> a）在完成注册或激活流程时，您应当按照法律法规要求，按相应页面的提示准确提供并及时更新您的资料，以使之真实、及时、完整和准确。如有合理理由怀疑您提供的资料错误、不实、过时或不完整的，教学邦有权向您发出询问及/或要求改正的通知，并有权直接做出删除相应资料的处理，直至中止、终止对您提供部分或全部教学邦平台服务。教学邦对此不承担任何责任，您将承担因此产生的任何直接或间接损失及不利后果。<br /> b）您应当准确填写并及时更新您提供的电子邮件地址、联系电话、联系地址、邮政编码等联系方式，以便教学邦或其他用户与您进行有效联系，因通过这些联系方式无法与您取得联系，导致您在使用教学邦平台服务过程中产生任何损失或增加费用的，应由您完全独自承担。您了解并同意，您有义务保持你提供的联系方式的有效性，如有变更或需要更新的，您应按教学邦的要求进行操作。 </p> 
              <p>4、账户安全<br /> a）在完成注册或激活流程时，您应当按照法律法规要求，按相应页面的提示准确提供并及时更新您的资料，以使之真实、及时、完整和准确。如有合理理由怀疑您提供的资料错误、不实、过时或不完整的，教学邦有权向您发出询问及/或要求改正的通知，并有权直接做出删除相应资料的处理，直至中止、终止对您提供部分或全部教学邦平台服务。教学邦对此不承担任何责任，您将承担因此产生的任何直接或间接损失及不利后果。<br /> b）您应当准确填写并及时更新您提供的电子邮件地址、联系电话、联系地址、邮政编码等联系方式，以便教学邦或其他用户与您进行有效联系，因通过这些联系方式无法与您取得联系，导致您在使用教学邦平台服务过程中产生任何损失或增加费用的，应由您完全独自承担。您了解并同意，您有义务保持你提供的联系方式的有效性，如有变更或需要更新的，您应按教学邦的要求进行操作。 </p> 
              <p>5、教学邦登录名注销<br /> a）如您连续三年未使用您的邮箱、手机或教学邦认可的其他方式和密码登录过教学邦平台，您的教学邦登录名可能被注销，所有教学邦网站服务同时终止。<br /> b）您同意并授权教学邦网站，您如在教学邦网站有欺诈、发布或销售侵权信息、侵犯他人合法权益或其他违反法律法规、教学邦网站规则等行为，该网站在教学邦网站的范围内对此有权披露，您的教学邦登录名可能被注销，不能再登录教学邦网站，教学邦网站服务同时终止。 </p> 
             </dd> 
             <dt>
              三、 教学邦平台服务
             </dt> 
             <dd>
               1.通过教学邦及其关联公司提供的教学邦平台服务和其它服务，会员可在教学邦平台上发布课件资源信息、学习课程和服务信息、达成交易意向并进行交易、对其他会员进行评价、参加教学邦组织的活动以及使f用其它信息服务及技术服务。
              <br /> 2.您在教学邦平台上交易过程中与其他会员发生交易纠纷时，一旦您或其它会员任一方或双方共同提交教学邦要求调处，则教学邦有权根据单方判断做出调处决定，您了解并同意接受教学邦的判断和调处决定。
              <br /> 3.您了解并同意，教学邦有权应政府部门（包括司法及行政部门）的要求，向其提供您向教学邦提供的用户信息和交易记录等必要信息。如您涉嫌侵犯他人知识产权等合法权益，则教学邦亦有权在初步判断涉嫌侵权行为存在的情况下，向权利人提供您必要的身份信息。
              <br /> 4.您在使用教学邦平台服务过程中，所产生的应纳税赋，以及一切硬件、软件、服务及其它方面的费用，均由您独自承担。 
             </dd>
             <dd> 
             </dd>
             <dt>
              四、教学邦平台服务使用规范
             </dt> 
             <dd>
               1.在教学邦平台上使用教学邦服务过程中，您承诺遵守以下约定：
              <br /> a) 在使用教学邦平台服务过程中实施的所有行为均遵守国家法律、法规等规范性文件及教学邦平台各项规则的规定和要求，不违背社会公共利益或公共道德，不损害他人的合法权益，不违反本协议及相关规则。您如果违反前述承诺，产生任何法律后果的，您应以自己的名义独立承担所有的法律责任，并确保教学邦免于因此产生任何损失。
              <br /> b) 在与其他会员教学过程中，遵守诚实信用原则，不采取不正当竞争行为，不扰乱网上教学的正常秩序，不从事与网上教学无关的行为。
              <br /> c) 不发布国家禁止传授或限制传授的课程或服务信息（除非取得合法且足够的许可），不发布涉嫌侵犯他人知识产权或其它合法权益的课程或服务信息，不发布违背社会公共利益或公共道德或教学邦认为不适合在教学邦平台上教学的课程服务信息，不发布其它涉嫌违法或违反本协议及各类规则的信息。
              <br /> d) 不以虚构或歪曲事实的方式不当评价其他会员，不采取不正当方式制造或提高自身的信用度，不采取不正当方式制造或提高（降低）其他会员的信用度；
              <br /> e) 不对教学邦平台上的任何数据作商业性利用，包括但不限于在未经教学邦事先书面同意的情况下，以复制、传播等任何方式使用教学邦平台站上展示的资料信息。
              <br /> f) 不使用任何装置、软件或例行程序干预或试图干预教学邦平台的正常运作或正在教学邦平台上进行的任何交易、活动。您不得采取任何将导致不合理的庞大数据负载加诸教学邦平台网络设备的行动。
              <br /> 2.您了解并同意：
              <br /> a) 教学邦有权对您是否违反上述承诺做出单方认定，并根据单方认定结果适用规则予以处理或终止向您提供服务，且无须征得您的同意或提前通知予您。
              <br /> b) 基于维护教学邦平台交易秩序及交易安全的需要，教学邦有权在发生恶意传播信息等扰乱正常教学秩序的情形下，执行关闭相应交易订单等操作。
              <br /> c) 经国家行政或司法机关的生效法律文书确认您存在违法或侵权行为，或者教学邦根据自身的判断，认为您的行为涉嫌违反本协议和/或规则的条款或涉嫌违反法律法规的规定的，则教学邦有权在教学邦平台上公示您的该等涉嫌违法或违约行为及教学邦已对您采取的措施。
              <br /> d) 对于您在教学邦平台上发布的涉嫌违法或涉嫌侵犯他人合法权利或违反本协议和/或规则的信息，教学邦有权不经通知您即予以删除，且按照规则的规定进行处罚。
              <br /> e) 对于您在教学邦平台上实施的行为，包括您未在教学邦平台上实施但已经对教学邦平台及其用户产生影响的行为，教学邦有权单方认定您行为的性质及是否构成对本协议和/或规则的违反，并据此作出相应处罚。您应自行保存与您行为有关的全部证据，并应对无法提供充要证据而承担的不利后果。
              <br /> f) 对于您涉嫌违反承诺的行为对任意第三方造成损害的，您均应当以自己的名义独立承担所有的法律责任，并应确保教学邦免于因此产生损失或增加费用。
              <br /> g) 如您涉嫌违反有关法律或者本协议之规定，使教学邦遭受任何损失，或受到任何第三方的索赔，或受到任何行政管理部门的处罚，您应当赔偿教学邦因此造成的损失及（或）发生的费用，包括合理的律师费用。 
             </dd>
             <dd> 
             </dd>
             <dt>
              五、特别授权
             </dt> 
             <dd>
               您完全理解并不可撤销地授予教学邦及其关联公司下列权利：
              <br /> 1.您完全理解并不可撤销地授权教学邦或教学邦授权的第三方或您与教学邦一致同意的第三方，根据本协议及教学邦规则的规定，处理您在教学邦平台上发生的所有交易及可能产生的交易纠纷。您同意接受教学邦或教学邦授权的第三方或您与教学邦一致同意的第三方的判断和调处决定。该决定将对您具有法律约束力。
              <br /> 2.一旦您向教学邦作出任何形式的承诺，且相关公司已确认您违反了该承诺，则教学邦有权立即按您的承诺或协议约定的方式对您的账户采取限制措施，包括中止或终止向您提供服务，并公示相关公司确认的您的违约情况。您了解并同意，教学邦无须就相关确认与您核对事实，或另行征得您的同意，且教学邦无须就此限制措施或公示行为向您承担任何的责任。
              <br /> 3.一旦您违反本协议，或与教学邦签订的其他协议的约定，教学邦有权以任何方式通知教学邦关联公司，要求其对您的权益采取限制措施，包括但不限于要求将您账户内的款项支付给教学邦指定的对象，要求支教学邦关联公司中止、终止对您提供部分或全部服务，且在其经营或实际控制的任何网站公示您的违约情况。
              <br /> 4.对于您提供的非公开课程资料，教学邦将遵守隐私保密规则。对于您公开课程的资料及数据信息，您授予教学邦全球通用的、永久的、免费的许可使用权利 (并有权在多个层面对该权利进行再授权)。此外，教学邦及其关联公司有权(全部或部份地) 使用、复制、修订、改写、发布、翻译、分发、执行和展示您的全部资料数据（包括但不限于注册资料、交易行为数据及全部展示于教学邦平台的各类信息）或制作其派生作品，并以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其它作品内。 
              <br /> 5.为方便您使用教学邦平台服务及教学邦网站或其他组织的服务（以下称其他服务），您同意并授权教学邦将您在账户注册/激活、使用教学邦平台服务过程中提供、形成的信息传递给向您提供其他服务的教学邦网站或其他组织，或从提供其他服务的教学邦网站或其他组织获取您在注册/激活、使用其他服务期间提供、形成的信息。您同意不会因此追究教学邦网站的责任。 
             </dd> 
             <dt>
              六、责任范围和责任限制
             </dt> 
             <dd>
               1.教学邦负责按&quot;现状&quot;和&quot;可得到&quot;的状态向您提供教学邦平台服务。但教学邦对教学邦平台服务不作任何明示或暗示的保证，包括但不限于教学邦平台服务的适用性、没有错误或疏漏、持续性、准确性、可靠性、适用于某一特定用途。同时，教学邦也不对教学邦平台服务所涉及的技术及信息的有效性、准确性、正确性、可靠性、质量、稳定、完整和及时性作出任何承诺和保证。
              <br /> 2.您了解教学邦平台上的信息系用户自行发布，且可能存在风险和瑕疵。教学邦平台仅作教学辅助。教学邦平台仅作为您获取教学或服务信息、物色教学对象、就课件和/或服务的交易进行协商及开展教学的场所，但教学邦无法控制教学所涉及的课件的质量、安全或合法性，内容的正确性或准确性，以及教学各方履行其在教学协议中各项义务的能力。您应自行谨慎判断确定相关课件及/或信息的真实性、合法性和有效性，并自行承担因此产生的责任与损失。
              <br /> 3.除非法律法规明确要求，或出现以下情况，否则，教学邦没有义务对所有用户的信息数据、课件（服务）信息、教学行为以及与交易有关的其它事项进行事先审查：
              <br /> a) 教学邦有合理的理由认为特定会员及具体交易事项可能存在重大违法或违约情形。
              <br /> b) 教学邦有合理的理由认为用户在教学邦平台的行为涉嫌违法或不当。
              <br /> 4.教学邦或教学邦授权的第三方或您与教学邦一致同意的第三方有权基于您不可撤销得授权受理您与其他会员因交易产生的争议，并有权单方判断与该争议相关的事实及应适用的规则，进而作出处理决定，包括但不限于调整相关订单的交易状态，将争议款项的全部或部分支付给交易一方或双方。该处理决定对您有约束力。如您未在限期内执行处理决定的，则教学邦有权利（但无义务）直接使用您账户内的款项，或您向教学邦及其关联公司交纳的保证金代为支付。您应及时补足保证金并弥补教学邦及其关联公司的损失，否则教学邦及其关联公司有权直接抵减您在其它合同项下的权益，并有权继续追偿。
              <br /> 您理解并同意，教学邦或教学邦授权的第三方或您与教学邦一致同意的第三方并非司法机构，仅能以普通人的身份对证据进行鉴别，教学邦或教学邦授权的第三方或您与教学邦一致同意的第三方对争议的调处完全是基于您不可撤销得授权，其无法保证争议处理结果符合您的期望，也不对争议调处结论承担任何责任。如您因此遭受损失，您同意自行向受益人索偿。
              <br /> 5.您了解并同意，教学邦不对因下述任一情况而导致您的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其它无形损失的损害赔偿 (无论教学邦是否已被告知该等损害赔偿的可能性) ：
              <br /> a) 使用或未能使用教学邦平台服务。
              <br /> b) 第三方未经批准的使用您的账户或更改您的数据。
              <br /> c) 通过教学邦平台服务购买或获取任何课件、数据、信息或进行交易等行为或替代行为产生的费用及损失。
              <br /> d) 您对教学邦平台服务的误解。
              <br /> e) 任何非因教学邦的原因而引起的与教学邦平台服务有关的其它损失。
              <br /> 6.不论在何种情况下，教学邦均不对由于信息网络正常的设备维护，信息网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能服务或延迟服务承担责任。 
             </dd>
             <dd> 
             </dd>
             <dt>
              七、协议终止
             </dt> 
             <dd>
               1.您同意，教学邦有权自行全权决定以任何理由不经事先通知的中止、终止向您提供部分或全部教学邦平台服务，暂时冻结或永久冻结（注销）您的账户在教学邦平台的权限，且无须为此向您或任何第三方承担任何责任。
              <br /> 2.出现以下情况时，教学邦有权直接以注销账户的方式终止本协议，并有权永久冻结（注销）您的账户在教学邦平台的权限和收回账户对应的教学邦昵称：
              <br /> a) 教学邦终止向您提供服务后，您涉嫌再一次直接或间接或以他人名义注册为教学邦用户的；
              <br /> b) 您提供的电子邮箱不存在或无法接收电子邮件，且没有其他方式可以与您进行联系，或教学邦以其它联系方式通知您更改电子邮件信息，而您在教学邦通知后三个工作日内仍未更改为有效的电子邮箱的。
              <br /> c) 您提供的用户信息中的主要内容不真实或不准确或不及时或不完整；
              <br /> d) 本协议（含规则）变更时，您明示并通知教学邦不愿接受新的服务协议的；
              <br /> e) 其它教学邦认为应当终止服务的情况。
              <br /> 3.您的账户服务被终止或者账户在教学邦平台的权限被永久冻结（注销）后，教学邦没有义务为您保留或向您披露您账户中的任何信息，也没有义务向您或第三方转发任何您未曾阅读或发送过的信息。
              <br /> 4.您同意，您与教学邦的合同关系终止后，教学邦仍享有下列权利：
              <br /> a) 继续保存您的用户信息及您使用教学邦平台服务期间的所有教学和交易信息。
              <br /> b) 您在使用教学邦平台服务期间存在违法行为或违反本协议和/或规则的行为的，教学邦仍可依据本协议向您主张权利。
              <br /> 5.教学邦中止或终止向您提供教学邦平台服务后，对于您在服务中止或终止之前的交易行为依下列原则处理，您应独力处理并完全承担进行以下处理所产生的任何争议、损失或增加的任何费用，并应确保教学邦免于因此产生任何损失或承担任何费用：
              <br /> a) 您在服务中止或终止之前已经上传至教学邦平台的课件，教学邦有权在中止或终止服务的同时删除此项课件的相关信息；
              <br /> b) 您在服务中止或终止之前已经与其他会员达成买卖合同，但合同尚未实际履行的，教学邦有权删除该买卖合同及其交易教学的相关信息；
              <br /> c) 您在服务中止或终止之前已经与其他会员达成买卖合同且已部分履行的，教学邦可以不删除该项交易，但教学邦有权在中止或终止服务的同时将相关情形通知您的交易对方。
              <br /> 
             </dd>
             <dd> 
             </dd>
             <dt>
              八、隐私权政策
             </dt> 
             <dd>
               教学邦将在教学邦平台公布并不时修订隐私权政策，隐私权政策构成本协议的有效组成部分。 
             </dd> 
             <dt>
              九、法律适用、管辖与其他
             </dt> 
             <dd>
               1.本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国大陆地区法律，如无相关法律规定的，则应参照通用国际商业惯例和（或）行业惯例。
              <br /> 2.本协议包含了您使用教学邦平台需遵守的一般性规范，您在使用某个教学邦平台时还需遵守适用于该平台的特殊性规范（具体请参见您与该平台签署的其他协议以及平台规则等内容）。一般性规范如与特殊性规范不一致或有冲突，则特殊性规范具有优先效力。
              <br /> 3.因本协议产生之争议需根据您使用的服务归属的平台确定具体的争议对象，例如因您使用教学邦网服务所产生的争议应由教学邦网的经营者与您沟通并处理。您与教学邦平台的经营者均同意以教学邦平台经营者住所地人民法院为第一审管辖法院。 
            </dd> 
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
